# Doordash Estimated Time of Arrival 
Mission: Predict the total delivery duration <br>
Meaning: From Customer Placing Order until it delivered

In [147]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [148]:
historical_data = pd.read_csv('historical_data.csv')
historical_data.head(5)

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0

In [149]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  object
 2   actual_delivery_time                          197421 non-null  object
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
dtypes: float64(6), int64(7), object(3)
memory usage: 24.1+ MB

Step 1, look at the data
1. Look at satuan (dollar, minutes, second)
2. Understand the Y actual on data set, in this case total delivery time from, actual_delivery_time - created_at because both are time stamp
3. Look at the data description from here we know that

Data Description
1. both onshift, busy dasher and outstanding orders are during created_at
2. estimated_order_place_duration -> Only from doordash until restaurance received 
3. estimated_store_to_consumer_driving_duration -> Only travel time
4. Thus we miss, TIME RESTAURANT PREPARING THE ORDER

We have
1. created_at -> Order placed
2. actual_delivery_time -> Order arrived
3. Y actual = actual_delivery_time - created_at -> (in second) why? because the time value for estimated are also in second
3. estimated_order_place_duration -> From order placed until accepted by store 
4. esimated_store_to_consumer_driving_duration -> From store received order, cooking time and delivery duration

In [150]:
# From the data, created_at and actual_delivery_time are in OBJECT despite the value is datetime
# Dollar value already in int, and all others are in float
# So convert to datetime
historical_data['created_at'] = pd.to_datetime(historical_data['created_at'])
historical_data['actual_delivery_time'] = pd.to_datetime(historical_data['actual_delivery_time'])

In [151]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 16 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  datetime64[ns]
 2   actual_delivery_time                          197421 non-null  datetime64[ns]
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(7), object(1)
memory usage: 24.1+ MB

# Feature Creation
Can we create better feature from existing one
1. Target value needs to be defined
2. Onshift and busy dasher are represented as number during order created time but ratio might be more relevant with, higher ratio means longer duration time
3. We can combine both the estimated order place and delivery time as non prepping duration, reducing information from 2 to 1 column

In [152]:
from datetime import datetime
# 1. Defined target value
historical_data['total_delivery_time'] = (historical_data['actual_delivery_time'] - historical_data['created_at']).dt.seconds

# 2. Busy Ratio
historical_data['busy_ratio'] = (historical_data['total_busy_dashers'] / historical_data['total_onshift_dashers'])

# 3. Non Estimated Preparation time
historical_data['estimated_non_prep_duration'] = (historical_data['estimated_order_place_duration'] + historical_data['estimated_store_to_consumer_driving_duration'])

In [153]:
historical_data.head(2)
# Why does total_delivery_time is in days 0 days 01:02:59? not in second
# So its in time delta, can it be in second instead

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,total_delivery_time,busy_ratio,estimated_non_prep_duration
0,1.0,2015-02-06 22:24:17,2015-02-06 23:27:16,1845,american,1.0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0,0.424242,1307.0
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0,2.000000,1136.0

In [154]:
historical_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 197428 entries, 0 to 197427
Data columns (total 19 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   market_id                                     196441 non-null  float64
 1   created_at                                    197428 non-null  datetime64[ns]
 2   actual_delivery_time                          197421 non-null  datetime64[ns]
 3   store_id                                      197428 non-null  int64
 4   store_primary_category                        192668 non-null  object
 5   order_protocol                                196433 non-null  float64
 6   total_items                                   197428 non-null  int64
 7   subtotal                                      197428 non-null  int64
 8   num_distinct_items                            197428 non-null  int64
 9   min_item_price                                197428 non-null  int64
 10  max_item_price                                197428 non-null  int64
 11  total_onshift_dashers                         181166 non-null  float64
 12  total_busy_dashers                            181166 non-null  float64
 13  total_outstanding_orders                      181166 non-null  float64
 14  estimated_order_place_duration                197428 non-null  int64
 15  estimated_store_to_consumer_driving_duration  196902 non-null  float64
 16  total_delivery_time                           197421 non-null  float64
 17  busy_ratio                                    177590 non-null  float64
 18  estimated_non_prep_duration                   196902 non-null  float64
dtypes: datetime64[ns](2), float64(9), int64(7), object(1)
memory usage: 28.6+ MB

# Data Modelling
1. One hot encode categorical data for regression, because in category 1 and 2 are two separate things, the numerical value of 1 and 2 and its closeness has no meaning to the category itself, thus its better to make each category a true false
2. Check the unique values
3. Categorical value are: store_id, order_protocol, market_id
4. Why not store_primary_category? There is still null values, we have to make it NaN Null first before one hot encode it

In [155]:
historical_data['market_id'].nunique()

6

In [156]:
historical_data['store_id'].nunique()

6743

In [157]:
historical_data['order_protocol'].nunique()

7

Conclusion:
1. We can one hot encode market_id and order_protocol
2. Using get dummies

In [158]:
market_id_dummies = pd.get_dummies(historical_data['market_id'])
market_id_dummies = market_id_dummies.add_prefix('market_id_')
market_id_dummies

,market_id_1.0,market_id_2.0,market_id_3.0,market_id_4.0,market_id_5.0,market_id_6.0
0,1,0,0,0,0,0
1,0,1,0,0,0,0
2,0,0,1,0,0,0
3,0,0,1,0,0,0
4,0,0,1,0,0,0
...,...,...,...,...,...,...
197423,1,0,0,0,0,0
197424,1,0,0,0,0,0
197425,1,0,0,0,0,0
197426,1,0,0,0,0,0
197427,1,0,0,0,0,0

In [159]:
order_protocol_dummies = pd.get_dummies(historical_data['order_protocol'])
order_protocol_dummies = order_protocol_dummies.add_prefix('order_protocol_')
order_protocol_dummies

,order_protocol_1.0,order_protocol_2.0,order_protocol_3.0,order_protocol_4.0,order_protocol_5.0,order_protocol_6.0,order_protocol_7.0
0,1,0,0,0,0,0,0
1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0
3,1,0,0,0,0,0,0
4,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...
197423,0,0,0,1,0,0,0
197424,0,0,0,1,0,0,0
197425,0,0,0,1,0,0,0
197426,1,0,0,0,0,0,0
197427,1,0,0,0,0,0,0

In [160]:
# Checking if a NaN store_primary_category has a cateogry in another order
historical_data_test = historical_data[historical_data['store_id'] == 5477]
historical_data_test

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,total_delivery_time,busy_ratio,estimated_non_prep_duration
1,2.0,2015-02-10 21:49:25,2015-02-10 22:56:29,5477,mexican,2.0,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0,2.000000,1136.0
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0,0.000000,1136.0
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,3075.0,1.000000,735.0
4,3.0,2015-02-15 02:40:36,2015-02-15 03:20:26,5477,NaN,1.0,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0,1.000000,1096.0
5,3.0,2015-01-28 20:30:38,2015-01-28 21:08:58,5477,NaN,1.0,3,5000,3,1500,1900,2.0,2.0,2.0,446,338.0,2300.0,1.000000,784.0
6,3.0,2015-01-31 02:16:36,2015-01-31 02:43:00,5477,NaN,1.0,2,3900,2,1200,2700,10.0,9.0,9.0,446,638.0,1584.0,0.900000,1084.0
7,3.0,2015-02-12 03:03:35,2015-02-12 03:36:20,5477,NaN,1.0,4,4850,4,750,1800,7.0,8.0,7.0,446,626.0,1965.0,1.142857,1072.0
8,2.0,2015-02-16 00:11:35,2015-02-16 00:38:01,5477,indian,3.0,4,4771,3,820,1604,8.0,6.0,18.0,446,289.0,1586.0,0.750000,735.0
9,3.0,2015-02-18 01:15:45,2015-02-18 02:08:57,5477,NaN,1.0,2,2100,2,700,1200,2.0,2.0,2.0,446,715.0,3192.0,1.000000,1161.0
10,3.0,2015-02-02 19:22:53,2015-02-02 20:09:19,5477,NaN,4.0,4,4300,4,1200,1500,1.0,1.0,1.0,446,453.0,2786.0,1.000000,899.0
11,3.0,2015-02-16 04:19:33,2015-02-16 06:34:00,5477,NaN,1.0,2,2200,2,600,1600,3.0,3.0,4.0,446,642.0,8067.0,1.000000,1088.0
12,3.0,2015-02-07 01:34:31,2015-02-07 02:17:14,5477,NaN,1.0,1,1900,1,1900,1900,6.0,3.0,3.0,446,690.0,2563.0,0.500000,1136.0
13,3.0,2015-01-25 01:50:51,2015-01-25 02:28:53,5477,NaN,4.0,4,4986,4,699,2362,16.0,6.0,9.0,446,445.0,2282.0,0.375000,891.0

### Conclusion on analysis
NaN store_primary_category might have a category in different order, for example Mexican and Indian for order 1 and 8

### Action
Impute NaN value for each order based on the common category of that store using dictionary <br>
key is store_id, value is the common values

### Trial on getting the store_primary_category for a specific value

In [161]:
historical_data[historical_data['store_id'] == 5477].store_primary_category.mode()

0     indian
1    mexican
Name: store_primary_category, dtype: object

In [162]:
historical_data[historical_data.store_id == 5477].store_primary_category

1     mexican
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8      indian
9         NaN
10        NaN
11        NaN
12        NaN
13        NaN
Name: store_primary_category, dtype: object

In [163]:
# 1. Create list of unique stores
unique_store_id = historical_data['store_id'].unique().tolist()

# 2. Create the dictioanry
store_id_and_category = {store_id: historical_data[historical_data['store_id'] == store_id].store_primary_category.mode()
                         for store_id in unique_store_id}

In [164]:
store_id_and_category

{1845: 0    american
 Name: store_primary_category, dtype: object,
 5477: 0     indian
 1    mexican
 Name: store_primary_category, dtype: object,
 2841: 0    italian
 Name: store_primary_category, dtype: object,
 4139: 0    mexican
 Name: store_primary_category, dtype: object,
 5058: 0    italian
 Name: store_primary_category, dtype: object,
 4149: 0    sandwich
 1        thai
 Name: store_primary_category, dtype: object,
 3201: 0    cafe
 Name: store_primary_category, dtype: object,
 5054: 0    italian
 Name: store_primary_category, dtype: object,
 2004: 0    american
 Name: store_primary_category, dtype: object,
 1984: 0    chinese
 Name: store_primary_category, dtype: object,
 4905: 0    mexican
 Name: store_primary_category, dtype: object,
 1698: 0    sandwich
 Name: store_primary_category, dtype: object,
 1936: 0    singaporean
 Name: store_primary_category, dtype: object,
 6015: 0    burger
 Name: store_primary_category, dtype: object,
 976: 0    breakfast
 Name: store_primary_category, dtype: object,
 5081: 0    mediterranean
 Name: store_primary_category, dtype: object,
 1019: 0    chinese
 Name: store_primary_category, dtype: object,
 3994: 0    japanese
 Name: store_primary_category, dtype: object,
 6395: 0    cafe
 Name: store_primary_category, dtype: object,
 3879: Series([], Name: store_primary_category, dtype: object),
 6517: 0    american
 Name: store_primary_category, dtype: object,
 6584: 0    catering
 Name: store_primary_category, dtype: object,
 4003: 0    mexican
 Name: store_primary_category, dtype: object,
 1848: 0    sandwich
 Name: store_primary_category, dtype: object,
 3654: 0    filipino
 Name: store_primary_category, dtype: object,
 6241: 0    convenience-store
 Name: store_primary_category, dtype: object,
 1521: 0    american
 Name: store_primary_category, dtype: object,
 5326: 0    chinese
 Name: store_primary_category, dtype: object,
 1203: 0    indian
 Name: store_primary_category, dtype: object,
 3155: 0    sandwich
 Name: store_primary_category, dtype: object,
 2527: 0    greek
 Name: store_primary_category, dtype: object,
 2183: 0    american
 Name: store_primary_category, dtype: object,
 2652: 0    sandwich
 Name: store_primary_category, dtype: object,
 3065: 0    cafe
 Name: store_primary_category, dtype: object,
 414: 0    japanese
 Name: store_primary_category, dtype: object,
 3468: 0    other
 Name: store_primary_category, dtype: object,
 5674: 0    korean
 Name: store_primary_category, dtype: object,
 2716: 0    sandwich
 Name: store_primary_category, dtype: object,
 4251: 0    asian
 Name: store_primary_category, dtype: object,
 1148: 0    indian
 Name: store_primary_category, dtype: object,
 4062: 0    barbecue
 Name: store_primary_category, dtype: object,
 280: 0    mexican
 Name: store_primary_category, dtype: object,
 2621: 0    asian
 Name: store_primary_category, dtype: object,
 2928: 0    mexican
 Name: store_primary_category, dtype: object,
 132: 0    fast
 Name: store_primary_category, dtype: object,
 2096: 0    indian
 Name: store_primary_category, dtype: object,
 5579: 0    sandwich
 Name: store_primary_category, dtype: object,
 6153: 0    italian
 Name: store_primary_category, dtype: object,
 2009: 0    italian
 Name: store_primary_category, dtype: object,
 2769: 0    american
 Name: store_primary_category, dtype: object,
 5667: 0    chinese
 Name: store_primary_category, dtype: object,
 4753: 0    burger
 Name: store_primary_category, dtype: object,
 3821: 0    sandwich
 Name: store_primary_category, dtype: object,
 1788: 0    barbecue
 Name: store_primary_category, dtype: object,
 5788: 0    convenience-store
 Name: store_primary_category, dtype: object,
 6115: 0    breakfast
 Name: store_primary_category, dtype: object,
 963: 0    breakfast
 Name: store_primary_category, dtype: object,
 3427: 0    japanese
 Name: store_primary_category, dtype: object,
 517: 0    american
 Name: store_primary_category, dtype: object,
 1807: 0    vietnamese
 Name: store_primary_category, dtype: object,
 1498: 0    other
 Name: store_primary_category, dtype: object,
 5226: 0    cajun
 Name: store_primary_category, dtype: object,
 1904: 0    sandwich
 Name: store_primary_category, dtype: object,
 2273: 0    steak
 Name: store_primary_category, dtype: object,
 4655: 0    thai
 Name: store_primary_category, dtype: object,
 6922: 0    pizza
 Name: store_primary_category, dtype: object,
 4320: 0    japanese
 Name: store_primary_category, dtype: object,
 6132: 0    mexican
 Name: store_primary_category, dtype: object,
 5171: 0    italian
 Name: store_primary_category, dtype: object,
 5152: 0    breakfast
 Name: store_primary_category, dtype: object,
 4616: 0    pizza
 Name: store_primary_category, dtype: object,
 4215: 0    mexican
 Name: store_primary_category, dtype: object,
 4031: 0    japanese
 Name: store_primary_category, dtype: object,
 3220: 0    mexican
 Name: store_primary_category, dtype: object,
 4476: 0    soup
 Name: store_primary_category, dtype: object,
 1808: 0    asian
 Name: store_primary_category, dtype: object,
 1540: 0    cafe
 Name: store_primary_category, dtype: object,
 6313: 0    dessert
 Name: store_primary_category, dtype: object,
 6359: 0    thai
 Name: store_primary_category, dtype: object,
 3469: Series([], Name: store_primary_category, dtype: object),
 1867: 0    japanese
 Name: store_primary_category, dtype: object,
 1384: 0    burger
 Name: store_primary_category, dtype: object,
 562: 0    japanese
 Name: store_primary_category, dtype: object,
 6296: 0    italian
 Name: store_primary_category, dtype: object,
 5547: 0    american
 Name: store_primary_category, dtype: object,
 1275: 0    persian
 Name: store_primary_category, dtype: object,
 6740: 0    fast
 Name: store_primary_category, dtype: object,
 429: 0    chinese
 Name: store_primary_category, dtype: object,
 3404: 0    mexican
 Name: store_primary_category, dtype: object,
 6045: 0    fast
 Name: store_primary_category, dtype: object,
 6872: 0    sushi
 Name: store_primary_category, dtype: object,
 6287: 0    thai
 Name: store_primary_category, dtype: object,
 5550: Series([], Name: store_primary_category, dtype: object),
 2751: 0    chinese
 Name: store_primary_category, dtype: object,
 3243: 0    italian
 Name: store_primary_category, dtype: object,
 283: 0    pizza
 Name: store_primary_category, dtype: object,
 6852: 0    sandwich
 Name: store_primary_category, dtype: object,
 2742: 0    thai
 Name: store_primary_category, dtype: object,
 6025: 0    american
 Name: store_primary_category, dtype: object,
 5003: 0    chinese
 Name: store_primary_category, dtype: object,
 4566: 0    cafe
 Name: store_primary_category, dtype: object,
 1269: 0    dessert
 Name: store_primary_category, dtype: object,
 3845: 0    vietnamese
 Name: store_primary_category, dtype: object,
 4491: 0    fast
 Name: store_primary_category, dtype: object,
 1027: 0    chinese
 Name: store_primary_category, dtype: object,
 2223: 0    japanese
 Name: store_primary_category, dtype: object,
 2849: 0    catering
 Name: store_primary_category, dtype: object,
 238: 0    vietnamese
 Name: store_primary_category, dtype: object,
 265: 0    indian
 Name: store_primary_category, dtype: object,
 4182: 0    mediterranean
 Name: store_primary_category, dtype: object,
 4046: 0    cafe
 Name: store_primary_category, dtype: object,
 4534: 0    american
 Name: store_primary_category, dtype: object,
 2187: 0    thai
 Name: store_primary_category, dtype: object,
 3307: 0    mexican
 Name: store_primary_category, dtype: object,
 3639: 0    chinese
 Name: store_primary_category, dtype: object,
 2938: 0    pizza
 Name: store_primary_category, dtype: object,
 2203: 0    asian
 Name: store_primary_category, dtype: object,
 3997: 0    chinese
 Name: store_primary_category, dtype: object,
 2731: 0    japanese
 Name: store_primary_category, dtype: object,
 4925: 0    pizza
 Name: store_primary_category, dtype: object,
 4346: 0      burger
 1    hawaiian
 Name: store_primary_category, dtype: object,
 6418: 0    fast
 Name: store_primary_category, dtype: object,
 6544: 0    mediterranean
 Name: store_primary_category, dtype: object,
 658: Series([], Name: store_primary_category, dtype: object),
 4818: 0    american
 Name: store_primary_category, dtype: object,
 5589: 0    other
 Name: store_primary_category, dtype: object,
 3560: 0    italian
 Name: store_primary_category, dtype: object,
 6165: 0    chocolate
 Name: store_primary_category, dtype: object,
 5711: 0    pizza
 Name: store_primary_category, dtype: object,
 4582: 0    mexican
 Name: store_primary_category, dtype: object,
 368: 0    catering
 Name: store_primary_category, dtype: object,
 59: 0    chinese
 Name: store_primary_category, dtype: object,
 6516: 0    pizza
 Name: store_primary_category, dtype: object,
 5234: 0    sandwich
 Name: store_primary_category, dtype: object,
 1113: 0    japanese
 Name: store_primary_category, dtype: object,
 1451: 0    japanese
 Name: store_primary_category, dtype: object,
 3329: 0    fast
 Name: store_primary_category, dtype: object,
 2853: 0    mexican
 Name: store_primary_category, dtype: object,
 199: 0    british
 Name: store_primary_category, dtype: object,
 3999: 0    italian
 Name: store_primary_category, dtype: object,
 6575: 0    greek
 Name: store_primary_category, dtype: object,
 6126: 0    burger
 Name: store_primary_category, dtype: object,
 2155: 0    american
 Name: store_primary_category, dtype: object,
 70: 0    indian
 Name: store_primary_category, dtype: object,
 2660: 0    mediterranean
 Name: store_primary_category, dtype: object,
 3302: 0    thai
 Name: store_primary_category, dtype: object,
 1997: 0    indian
 Name: store_primary_category, dtype: object,
 4529: 0    chinese
 Name: store_primary_category, dtype: object,
 6183: 0    thai
 Name: store_primary_category, dtype: object,
 3388: 0    greek
 Name: store_primary_category, dtype: object,
 4369: 0    burger
 Name: store_primary_category, dtype: object,
 1865: 0    nepalese
 Name: store_primary_category, dtype: object,
 2878: 0    american
 Name: store_primary_category, dtype: object,
 1380: 0    dessert
 Name: store_primary_category, dtype: object,
 6252: 0    breakfast
 Name: store_primary_category, dtype: object,
 6477: 0    dessert
 Name: store_primary_category, dtype: object,
 1724: 0    cafe
 Name: store_primary_category, dtype: object,
 4352: 0    japanese
 Name: store_primary_category, dtype: object,
 3230: 0    japanese
 Name: store_primary_category, dtype: object,
 1699: 0    catering
 Name: store_primary_category, dtype: object,
 6078: 0    fast
 Name: store_primary_category, dtype: object,
 1777: 0    dessert
 Name: store_primary_category, dtype: object,
 1849: 0    japanese
 Name: store_primary_category, dtype: object,
 4314: 0    american
 Name: store_primary_category, dtype: object,
 2851: 0    american
 Name: store_primary_category, dtype: object,
 6668: 0    mediterranean
 Name: store_primary_category, dtype: object,
 3990: 0    italian
 Name: store_primary_category, dtype: object,
 490: 0    breakfast
 Name: store_primary_category, dtype: object,
 6037: 0    american
 Name: store_primary_category, dtype: object,
 1940: 0    american
 Name: store_primary_category, dtype: object,
 604: 0    salad
 Name: store_primary_category, dtype: object,
 2952: 0    pizza
 Name: store_primary_category, dtype: object,
 2547: 0    italian
 Name: store_primary_category, dtype: object,
 948: 0    pizza
 Name: store_primary_category, dtype: object,
 2549: 0    sandwich
 Name: store_primary_category, dtype: object,
 4324: 0    american
 Name: store_primary_category, dtype: object,
 434: 0    japanese
 Name: store_primary_category, dtype: object,
 1667: 0    american
 Name: store_primary_category, dtype: object,
 6829: 0    sushi
 Name: store_primary_category, dtype: object,
 3370: 0    american
 Name: store_primary_category, dtype: object,
 3216: 0    thai
 Name: store_primary_category, dtype: object,
 5606: 0    american
 Name: store_primary_category, dtype: object,
 4228: 0    american
 Name: store_primary_category, dtype: object,
 4270: 0    chinese
 Name: store_primary_category, dtype: object,
 1541: 0    pizza
 Name: store_primary_category, dtype: object,
 4247: 0    sandwich
 Name: store_primary_category, dtype: object,
 3910: 0    fast
 Name: store_primary_category, dtype: object,
 1218: 0    american
 Name: store_primary_category, dtype: object,
 4302: 0    greek
 Name: store_primary_category, dtype: object,
 6302: 0    burger
 Name: store_primary_category, dtype: object,
 3000: 0    cafe
 Name: store_primary_category, dtype: object,
 6081: 0    italian
 Name: store_primary_category, dtype: object,
 4267: 0    thai
 Name: store_primary_category, dtype: object,
 6632: 0    barbecue
 Name: store_primary_category, dtype: object,
 1743: 0    italian
 Name: store_primary_category, dtype: object,
 5155: 0    american
 Name: store_primary_category, dtype: object,
 4514: 0    american
 Name: store_primary_category, dtype: object,
 3286: 0    pasta
 Name: store_primary_category, dtype: object,
 3394: 0    pizza
 Name: store_primary_category, dtype: object,
 1297: 0    seafood
 Name: store_primary_category, dtype: object,
 4864: 0    indian
 Name: store_primary_category, dtype: object,
 4430: 0    breakfast
 Name: store_primary_category, dtype: object,
 2615: 0    japanese
 Name: store_primary_category, dtype: object,
 4978: 0    dim-sum
 Name: store_primary_category, dtype: object,
 5102: 0    sandwich
 Name: store_primary_category, dtype: object,
 3461: 0    american
 Name: store_primary_category, dtype: object,
 4508: 0    steak
 Name: store_primary_category, dtype: object,
 3624: 0    mexican
 Name: store_primary_category, dtype: object,
 4750: 0    steak
 Name: store_primary_category, dtype: object,
 4766: 0    burger
 Name: store_primary_category, dtype: object,
 391: 0    breakfast
 Name: store_primary_category, dtype: object,
 2656: 0    seafood
 Name: store_primary_category, dtype: object,
 3409: 0    italian
 Name: store_primary_category, dtype: object,
 4571: 0    barbecue
 Name: store_primary_category, dtype: object,
 6824: 0    greek
 Name: store_primary_category, dtype: object,
 3705: 0    american
 Name: store_primary_category, dtype: object,
 4204: 0    burger
 Name: store_primary_category, dtype: object,
 4205: 0    smoothie
 Name: store_primary_category, dtype: object,
 4543: 0    vietnamese
 Name: store_primary_category, dtype: object,
 2132: 0    american
 Name: store_primary_category, dtype: object,
 4579: 0    barbecue
 Name: store_primary_category, dtype: object,
 5176: 0    japanese
 Name: store_primary_category, dtype: object,
 5153: 0    salad
 Name: store_primary_category, dtype: object,
 4221: 0    american
 1     italian
 Name: store_primary_category, dtype: object,
 6527: 0    american
 Name: store_primary_category, dtype: object,
 5595: 0    chinese
 Name: store_primary_category, dtype: object,
 1811: 0    smoothie
 Name: store_primary_category, dtype: object,
 4074: 0    vietnamese
 Name: store_primary_category, dtype: object,
 6608: 0    japanese
 Name: store_primary_category, dtype: object,
 4525: 0    breakfast
 Name: store_primary_category, dtype: object,
 1022: 0    fast
 Name: store_primary_category, dtype: object,
 4788: 0    burger
 Name: store_primary_category, dtype: object,
 5584: 0    japanese
 Name: store_primary_category, dtype: object,
 90: 0    american
 Name: store_primary_category, dtype: object,
 2340: 0    japanese
 Name: store_primary_category, dtype: object,
 2610: 0    asian
 Name: store_primary_category, dtype: object,
 4212: 0    dim-sum
 Name: store_primary_category, dtype: object,
 3625: 0    chinese
 Name: store_primary_category, dtype: object,
 3883: 0    italian
 Name: store_primary_category, dtype: object,
 4353: 0    japanese
 Name: store_primary_category, dtype: object,
 3339: 0    indian
 Name: store_primary_category, dtype: object,
 5571: 0    italian
 Name: store_primary_category, dtype: object,
 5046: 0    chinese
 Name: store_primary_category, dtype: object,
 4256: 0    breakfast
 Name: store_primary_category, dtype: object,
 3903: 0    italian
 Name: store_primary_category, dtype: object,
 5976: 0    catering
 Name: store_primary_category, dtype: object,
 223: 0    thai
 Name: store_primary_category, dtype: object,
 1477: 0    american
 Name: store_primary_category, dtype: object,
 1440: 0    chinese
 Name: store_primary_category, dtype: object,
 3378: 0    vietnamese
 Name: store_primary_category, dtype: object,
 3668: 0    italian
 Name: store_primary_category, dtype: object,
 6207: 0    american
 Name: store_primary_category, dtype: object,
 5645: 0    japanese
 Name: store_primary_category, dtype: object,
 5038: 0    pizza
 Name: store_primary_category, dtype: object,
 6901: 0    italian
 Name: store_primary_category, dtype: object,
 97: 0    fast
 Name: store_primary_category, dtype: object,
 4913: 0    asian
 Name: store_primary_category, dtype: object,
 6005: 0    greek
 Name: store_primary_category, dtype: object,
 1663: 0    burger
 Name: store_primary_category, dtype: object,
 6327: 0    japanese
 1       pizza
 Name: store_primary_category, dtype: object,
 1912: 0    persian
 Name: store_primary_category, dtype: object,
 1327: 0    smoothie
 Name: store_primary_category, dtype: object,
 4223: 0    convenience-store
 Name: store_primary_category, dtype: object,
 2722: 0    mexican
 Name: store_primary_category, dtype: object,
 1315: 0    thai
 Name: store_primary_category, dtype: object,
 6909: 0    burger
 Name: store_primary_category, dtype: object,
 3721: 0    japanese
 Name: store_primary_category, dtype: object,
 5768: 0    other
 Name: store_primary_category, dtype: object,
 5264: 0    burger
 Name: store_primary_category, dtype: object,
 5328: 0    convenience-store
 Name: store_primary_category, dtype: object,
 545: 0    american
 Name: store_primary_category, dtype: object,
 6344: 0    other
 Name: store_primary_category, dtype: object,
 5429: 0    american
 Name: store_primary_category, dtype: object,
 4436: 0    fast
 Name: store_primary_category, dtype: object,
 1834: 0    salad
 Name: store_primary_category, dtype: object,
 1008: 0    american
 Name: store_primary_category, dtype: object,
 390: 0    burger
 Name: store_primary_category, dtype: object,
 4067: 0    mexican
 Name: store_primary_category, dtype: object,
 991: 0    breakfast
 Name: store_primary_category, dtype: object,
 1404: 0    indian
 Name: store_primary_category, dtype: object,
 1706: 0    cafe
 Name: store_primary_category, dtype: object,
 5642: 0    italian
 Name: store_primary_category, dtype: object,
 1827: 0    breakfast
 Name: store_primary_category, dtype: object,
 6410: 0    mediterranean
 Name: store_primary_category, dtype: object,
 2639: 0    indian
 Name: store_primary_category, dtype: object,
 4718: 0    american
 Name: store_primary_category, dtype: object,
 6320: 0    smoothie
 Name: store_primary_category, dtype: object,
 6216: 0    chinese
 Name: store_primary_category, dtype: object,
 5592: 0    italian
 Name: store_primary_category, dtype: object,
 1386: 0    fast
 Name: store_primary_category, dtype: object,
 2427: 0    mexican
 Name: store_primary_category, dtype: object,
 3965: 0    fast
 Name: store_primary_category, dtype: object,
 2840: 0    chinese
 Name: store_primary_category, dtype: object,
 3009: 0    afghan
 Name: store_primary_category, dtype: object,
 1025: 0    thai
 Name: store_primary_category, dtype: object,
 3295: 0    steak
 Name: store_primary_category, dtype: object,
 4703: 0    thai
 Name: store_primary_category, dtype: object,
 1538: 0    japanese
 Name: store_primary_category, dtype: object,
 531: 0    vietnamese
 Name: store_primary_category, dtype: object,
 5847: 0    italian
 Name: store_primary_category, dtype: object,
 2922: 0    sandwich
 Name: store_primary_category, dtype: object,
 4156: 0    dessert
 Name: store_primary_category, dtype: object,
 703: 0    greek

In [165]:
def fill_nan(store_id):
    """Return estimated primary store category from dictionary"""
    try:
        return store_id_and_category[store_id].values[0]
    except:
        return np.nan

historical_data["non_nan_store_primary_category"] = historical_data['store_id'].apply(fill_nan)

In [166]:
# Checking imputation
historical_data[(historical_data['store_id'] == 5477) & (historical_data['store_primary_category'].isnull())].head(2)

,market_id,created_at,actual_delivery_time,store_id,store_primary_category,order_protocol,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,total_delivery_time,busy_ratio,estimated_non_prep_duration,non_nan_store_primary_category
2,3.0,2015-01-22 20:39:28,2015-01-22 21:09:09,5477,NaN,1.0,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0,0.0,1136.0,indian
3,3.0,2015-02-03 21:21:45,2015-02-03 22:13:00,5477,NaN,1.0,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,3075.0,1.0,735.0,indian

In [167]:
# one hot encode that column
non_nan_store_primary_category_dummies = pd.get_dummies(historical_data['non_nan_store_primary_category'])
non_nan_store_primary_category_dummies = non_nan_store_primary_category_dummies.add_prefix('category_')
non_nan_store_primary_category_dummies.head()

,category_afghan,category_african,category_alcohol,category_alcohol-plus-food,category_american,category_argentine,category_asian,category_barbecue,category_belgian,category_brazilian,...,category_southern,category_spanish,category_steak,category_sushi,category_tapas,category_thai,category_turkish,category_vegan,category_vegetarian,category_vietnamese
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [168]:
train_df = historical_data.drop(columns=["created_at", "actual_delivery_time","market_id", "order_protocol", "store_id","non_nan_store_primary_category","store_primary_category"])
train_df.head(5)

,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,total_delivery_time,busy_ratio,estimated_non_prep_duration
0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,3779.0,0.424242,1307.0
1,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,4024.0,2.000000,1136.0
2,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,1781.0,0.000000,1136.0
3,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,3075.0,1.000000,735.0
4,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,2390.0,1.000000,1096.0

In [169]:
train_df = pd.concat([train_df, non_nan_store_primary_category_dummies, order_protocol_dummies, market_id_dummies], axis = 1)
train_df.head(5)

,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,...,order_protocol_4.0,order_protocol_5.0,order_protocol_6.0,order_protocol_7.0,market_id_1.0,market_id_2.0,market_id_3.0,market_id_4.0,market_id_5.0,market_id_6.0
0,4,3441,4,557,1239,33.0,14.0,21.0,446,861.0,...,0,0,0,0,1,0,0,0,0,0
1,1,1900,1,1400,1400,1.0,2.0,2.0,446,690.0,...,0,0,0,0,0,1,0,0,0,0
2,1,1900,1,1900,1900,1.0,0.0,0.0,446,690.0,...,0,0,0,0,0,0,1,0,0,0
3,6,6900,5,600,1800,1.0,1.0,2.0,446,289.0,...,0,0,0,0,0,0,1,0,0,0
4,3,3900,3,1100,1600,6.0,6.0,9.0,446,650.0,...,0,0,0,0,0,0,1,0,0,0

In [170]:
# Convert to float for model 
train_df = train_df.astype('float32')
train_df.head(5)

,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,...,order_protocol_4.0,order_protocol_5.0,order_protocol_6.0,order_protocol_7.0,market_id_1.0,market_id_2.0,market_id_3.0,market_id_4.0,market_id_5.0,market_id_6.0
0,4.0,3441.0,4.0,557.0,1239.0,33.0,14.0,21.0,446.0,861.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1.0,1900.0,1.0,1400.0,1400.0,1.0,2.0,2.0,446.0,690.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1.0,1900.0,1.0,1900.0,1900.0,1.0,0.0,0.0,446.0,690.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,6.0,6900.0,5.0,600.0,1800.0,1.0,1.0,2.0,446.0,289.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,3.0,3900.0,3.0,1100.0,1600.0,6.0,6.0,9.0,446.0,650.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## Check the value if any value is infinite, it will 
Note
1. Axis 0 is rows
2. Axis 1 is columms (thus we concat the dummies with train_df using column, because we want to concat the column)
3. Check infinite value
4. Replace them with NaN for easier removal

In [171]:
train_df.describe()

,total_items,subtotal,num_distinct_items,min_item_price,max_item_price,total_onshift_dashers,total_busy_dashers,total_outstanding_orders,estimated_order_place_duration,estimated_store_to_consumer_driving_duration,...,order_protocol_4.0,order_protocol_5.0,order_protocol_6.0,order_protocol_7.0,market_id_1.0,market_id_2.0,market_id_3.0,market_id_4.0,market_id_5.0,market_id_6.0
count,197428.000000,197428.000000,197428.000000,197428.000000,197428.000000,181166.000000,181166.000000,181166.000000,197428.000000,196902.000000,...,197428.000000,197428.000000,197428.000000,197428.000000,197428.000000,197428.000000,197428.000000,197428.000000,197428.000000,197428.000000
mean,3.196391,2682.331543,2.670791,686.218506,1159.588623,44.808094,41.739746,58.050064,308.560181,545.358948,...,0.098031,0.224335,0.004022,0.000096,0.192663,0.278876,0.118003,0.241095,0.091172,0.073191
std,2.665833,1822.968994,1.629398,522.068542,558.358337,34.524193,32.146065,52.657368,90.211159,219.350143,...,0.297521,0.417420,0.063310,0.009809,0.394420,0.448546,0.322467,0.428078,0.288200,0.260173
min,1.000000,0.000000,1.000000,-86.000000,0.000000,-4.000000,-5.000000,-6.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,1400.000000,1.000000,299.000000,800.000000,17.000000,15.000000,17.000000,251.000000,382.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,3.000000,2200.000000,2.000000,595.000000,1095.000000,37.000000,34.000000,41.000000,251.000000,544.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,4.000000,3395.000000,3.000000,949.000000,1395.000000,65.000000,62.000000,85.000000,446.000000,702.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
max,411.000000,27100.000000,20.000000,14700.000000,14700.000000,171.000000,154.000000,285.000000,2715.000000,2088.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [172]:
train_df['busy_ratio'].describe()

count    1.775900e+05
mean              NaN
std               NaN
min              -inf
25%      8.269231e-01
50%      9.622642e-01
75%      1.000000e+00
max               inf
Name: busy_ratio, dtype: float64

In [178]:
infinite_rows = np.where(np.any(~np.isfinite(train_df), axis=0) == True)
# ~np.isinfinite will NEGATE each column value
# Example 1 become FALSE because its TRUE as finite then we NEGATE it
# Then we filter in np.where using == True
infinite_rows

(array([ 5,  6,  7,  9, 10, 11, 12]),)

In [183]:
train_df.replace([np.inf, -np.inf], np.nan, inplace= True)
train_df.dropna(inplace=True)

In [184]:
# Sucessfully remove NaN Value and infinite value particularly for Busy Dasher
train_df['busy_ratio'].describe()

count    177070.000000
mean          0.949947
std           0.406551
min         -13.000000
25%           0.826923
50%           0.962264
75%           1.000000
max          31.000000
Name: busy_ratio, dtype: float64

In [185]:
train_df.shape
# Lots of column, can have detrimental effect

(177070, 100)